@model BlogSite.Models.Tables.About
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/Admin.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact V17</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/web2/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/web2/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/web2/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/web2/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/web2/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/web2/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/web2/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/web2/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/web2/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/web2/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/web2/css/main.css">
    <!--===============================================================================================-->
</head>
<body>


    <div class="container-contact100">
        <div class="wrap-contact100 flex-col-c-m">


            <form  method="post" />
            <span class="contact100-form-title">
                İLETİŞİME Bilgileri
            </span>

            <label class="label-input100" for="message"> Hakkımızda</label>
            <div class="wrap-input100 validate-input" data-validate="Message is required">
                <textarea id="summernote" class="input100" name="Statement" placeholder="Write us a message"></textarea>
                <span class="focus-input100"></span>
            </div>



            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn">
                    KAYIT ET
                </button>
            </div>
            </form>



        </div>
    </div>



    

    <script>
        $('#summernote').summernote({
            placeholder: 'İçerik',
            tabsize: 2,
            height: 200,
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen', 'codeview', 'help']]
            ]
        });
    </script>
    <!--===============================================================================================-->
    <script src="~/web2/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/web2/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/web2/vendor/bootstrap/js/popper.js"></script>
    <script src="~/web2/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/web2/vendor/select2/select2.min.js"></script>
    <script>
        $(".selection-2").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect1')
        });
    </script>

    <!--===============================================================================================-->
    <script src="~/web2/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/web2/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/web2/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/web2/js/main.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');


    </script>

</body>
</html>



